.button {
	display: block;
	transition-property: background-color, color;
	transition-duration: 0.3s;

	border-radius: $border-radius;

	height: 50px;
	width: auto;
	padding: 12px;

	font-size: $baseline-rem;
	line-height: $baseline-lineheight;

	text-decoration: none;
	text-align: center;

	cursor: pointer;

	background-color: $site-highlight;
	color: white;

	border: none;

	&:hover {
		background-color: $site-hover;
		color: white !important;
	}

	&:focus {
		outline: none;
	}

	&.button-full {
		width: 100%;
	}
}

.button-alt {
	background-color: white;
	color: $site-highlight;

	&:hover {
		background-color: $site-hover;
		color: white;
	}

	&:focus {
		outline: none;
	}
}

@if $EXTENDBASE {
	input[type="submit"],
	input[type="button"],
	button { @extend .button; }
}
