.icon {
	-ms-behavior: url('../assets/library/backgroundsize.min.htc');
	background-position: center center;
	background-size: contain;
	display: block;
}

.icon-display-inline {
	display: inline-block;
}

.icon-centered {
	margin: 0 auto;
}

.icon-play {
	cursor: pointer;
}

@each $i in (8 14 16 22 24 27 28 32 34 38 48 60 72 90 360) {
	.icon-#{$i} {
		width: #{$i}px;
		height: #{$i}px;
	}
}
