
.buttonback a{
    background-color: #4CAF50;

    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;


}


.navbar-brand > img {
  position: absolute;
  /*top: 5px;*/
  height:50px;
  width:50px;
  margin-top: -15px;
  margin-left: 10px;
}


    body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #9C9288;
    background-color: #fff;
}

style.css:29
html, body {
}




            .hero {
                background-image: url("../img/hero2.jpg");
                width: 100% auto;
                height: 530px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                background-blend-mode: multiply;
                background-color: #6e6e6e;
                margin: auto;
                background-attachment: fixed;

            }
            .textbox {
                text-align: center;
                margin: 0 auto;
                padding-top: 120px;
            }
            .textbox p {
                padding-bottom: 20px;
                /*font-weight: lighter;*/
                color: white;
                font-size: 20px;
                padding-top: 90px;
            }
            .textbox h1 {
                font-size: 75px;
                font-weight: lighter;
                color: white;
                margin-top: 120px;
            }
            .textbox p {
                font-weight: lighter;
                color: white;
                margin-top: -200px;
            }
            /*second area*/

            .one {
                background-color: white;
                height: 610px;
                width: 50%;
            }
            .fa {
                margin-left: 50px;
            }
            .text {
                height: 295px;
                width: 400px;
                margin-left: 130px;
                text-align: center;
                margin-top: 180px;
            }
            .two {
                background-image: url("https://tomostyle.files.wordpress.com/2010/07/img_0845.jpg");
                background-size: cover;
                background-position: right;
                height: 305px;
                width: 367.5px auto;
                font-weight: lighter;
            }
            .two:hover {
                background-blend-mode: multiply;
                background-color: #6e6e6e;
                size: 100%;
            }
            .show {
                opacity: 0;
            }
            .two:hover .show {
                opacity: 1;
                color: white;
                font-weight: lighter;
            }
            .three:hover .show {
                opacity: 1;
                color: white;
                font-weight: lighter;
            }
            .four:hover .show {
                opacity: 1;
                color: white;
                font-weight: lighter;
            }
            .five:hover .show {
                opacity: 1;
                color: white;
                font-weight: lighter;
            }
            .four {
                background-image: url("../img/food2.jpg");
                background-size: cover;
                height: 305px;
                width: 352.5px auto;
            }
            .four:hover {
                background-blend-mode: multiply;
                background-color: #6e6e6e;
            }
            .three {
                background-image: url("https://s-media-cache-ak0.pinimg.com/originals/cc/2c/1b/cc2c1bdf6eaf200700d871e7adc37a0c.jpg");
                background-size: cover;
                height: 305px;
                width: 367.5px auto;
            }
            .three:hover {
                background-blend-mode: multiply;
                background-color: #6e6e6e;
            }
            .five {
                background-image: url("http://splice-bio.com/wp-content/uploads/2015/09/Molecular_gastronomy_science_s.jpg");
                background-size: cover;
                ;
                background-position: center;
                height: 305px;
                width: 352.5px auto;
            }
            .five:hover {
                background-blend-mode: multiply;
                background-color: #6e6e6e;
            }
            .texttwo {
                width: 200px;
                margin-left: 30px;
            }
            .row h3 {
                font-size: 40px;
                margin-top: 120px;
                text-align: center;
                font-family: sans-serif;
                font-weight: lighter;
            }
            /*third section*/

            .years {
                background-image: url("http://restaurant.business.brookes.ac.uk/images/slideshow/restaurant.jpg");
                width: 100% auto;
                height: 500px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                ;
                background-blend-mode: multiply;
                background-color: #6e6e6e;
                margin: auto;
                background-attachment: fixed;
            }
            .paragraph {
                text-align: center;
                margin: 0 auto;
                padding-top: 170px;
                font-family: helvetica;
                font-weight: lighter;
            }
            .paragraph h1 {
                font-size: 50px;
                font-weight: lighter;
                color: white;
                font-family: helvetica;
            }
            .paragraph p {
                font-weight: lighter;
                color: white;
            }
            .button a {
                height: 40px;
                width: 120px;
                padding: 8px;
                margin-top: 60px;
                text-decoration: none;
                color: white;
                text-align: center;
                font-size: 20px;
                background-color: #c0996b;
                border-radius: 1px;
                font-weight: lighter;
            }
            /*footer*/

            .icons {
                margin: auto;
                width: 20%auto;
                padding-left: 80px;
                padding-top: 120px;
                padding-bottom: 120px;
            }
            /*phone*/

            @media (max-width: 768px) {
                .two {
                    margin-top: -120px;
                    width: 100%auto;
                }
                .three {
                    margin-top: -120px;
                }
                .four {
                    margin-top: -120px;
                }
                .five {
                    margin-top: -120px;
                }
                .show {
                    opacity: 1;
                    color: white;
                }
                .show h3 {
                    padding-top: 140px;
                }
                .icons {
                    padding: 0px;
                    padding-left: 20px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
                .navbar-toggle {
                  margin-left: -10px !important;
                }
}

/*footer*/

#myFooter {
    background-color: #111111;
    /*color: white;*/
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: black;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #c0996b;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */




                /*tablet*/
                @media (max-width:991px) {
                    .show {
                        opacity: 1;
                        color: white;
                    }
                    .show h3 {
                        padd
                    }
